<!DOCTYPE html>
<html lang="<%= data.lang %>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= helpers.tr('My Routes') %></title>
  <link rel='icon' type='image/png' href='/favicon.png'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/dist/<%= data.version %>/css/main.css">  
</head>
<body>
  <div class="splash">
    <div class="loader" data-page="loader-page">
      <div class="loader__container">
        <img src="/favicon.png">
        <div class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-linear-progress--animation-ready">
          <div class="mdc-linear-progress__buffer">
            <div class="mdc-linear-progress__buffer-bar"></div>
            <div class="mdc-linear-progress__buffer-dots"></div>
          </div>
          <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
          </div>
          <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const splashElem = document.querySelector('.splash');

    splashElem?.classList.add('splash--open');
  </script>
  <% if(data.content) { %>
    <%- 
      partials[data.content]({ 
        data: data.contentData, 
        partials,  
        helpers
      }) 
    %> 
  <% } %> 
  <script src="/dist/<%= data.version %>/js/main.js" type="module"></script>
</body>
</html>
