<div data-layout="main-layout">
  <header class="app-bar">
    <div class="app-bar__row">      
      <div class="app-bar__section app-bar__section--fill">
        <div class="search">
          <form method="post">          
            <input 
              type="text" 
              id="app-bar-search"
              name="search" 
              class="search__input app-bar__title"
              autocomplete="off"
            >
            <button type="button" class="mdc-icon-button search__icon-left">
              <label  
                class="material-icons"           
              >
                arrow_back
              </label>
            </button>
            <button type="reset" class="mdc-icon-button search__icon-right">
              <label            
                for="app-bar-search"     
                class="material-icons" 
              >
                cancel
              </label>          
            </button>
          </form>    
          <div class="search__list">
            <div style="height: 20rem;"></div>
          </div>    
        </div>
      </div>
      <div class="app-bar__section app-bar__section--align-start">
        <a 
          data-button="navigation"
          class="material-icons mdc-icon-button" 
          href="?{{ toggleQueryParameter data.query 'main-layout-navigation' }}"
        >
          <span class="mdc-icon-button__ripple"></span>
          menu
        </a>
      </div>
      <div class="app-bar__section app-bar__section--align-end">
        <a 
          data-button="search"
          class="material-icons mdc-icon-button" 
          href="?{{ toggleQueryParameter data.query 'main-layout-search' }}"
        >
          <span class="mdc-icon-button__ripple"></span>
          filter_list
        </a>
      </div>
    </div>
  </header>
  <aside class="drawer {{ condition data.navigation 'drawer--open' '' }}">
    <div class="drawer__header">
      <a 
        data-button="header-navigation"
        class="material-icons mdc-icon-button" 
        href="?{{ toggleQueryParameter data.query 'main-layout-navigation' }}"
      >
        <span class="mdc-icon-button__ripple">
          {{ condition data.navigation 'arrow_circle_left' 'arrow_circle_right' }}
        </span>        
      </a>
    </div>
    <div class="drawer__content">
      <div class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated" href="#">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons">inbox</i>
          <span class="mdc-list-item__text">Inbox</span>
        </a>
        <a class="mdc-list-item" href="#">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons">send</i>
          <span class="mdc-list-item__text">Outgoing</span>
        </a>
        <a class="mdc-list-item" href="#">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons">drafts</i>
          <span class="mdc-list-item__text">Drafts</span>
        </a>
      </div>
    </div>
  </aside>
  <main class="main-content app-bar--fixed-adjust">
    {{> (lookup data 'content') data=data.contentData }}
  </main>
</div>
