<div data-layout="main-layout">
  <header class="app-bar">
    <div class="app-bar__row">      
      <div class="app-bar__section app-bar__section--fill">
        <div class="search">
          <form method="post">          
            <input               
              type="text" 
              name="search" 
              class="search__input app-bar__title"
              autocomplete="off"
            >
            <button  
              type="button"
              class="material-icons mdc-icon-button search__icon-left"           
            >
              <span class="mdc-icon-button__ripple"></span>
              arrow_back
            </button>
            <button
              type="reset" 
              class="material-icons mdc-icon-button search__icon-right"   
            >
              <span class="mdc-icon-button__ripple"></span>
              cancel
            </button>          
          </form>    
          <div class="search__list">
            <div style="height: 20rem;"></div>
          </div>    
        </div>
      </div>
      <div class="app-bar__section app-bar__section--align-start">
        <a 
          data-button="navigation"
          class="material-icons mdc-icon-button" 
          href="?<%= helpers.toggleQueryParameter(data.query, 'main-layout-navigation') %>"
        >
          <span class="mdc-icon-button__ripple"></span>
          menu
        </a>
      </div>
      <div class="app-bar__section app-bar__section--align-end">
        <a 
          data-button="search"
          class="material-icons mdc-icon-button" 
          href="?<%= helpers.toggleQueryParameter(data.query, 'main-layout-search') %> "
        >
          <span class="mdc-icon-button__ripple"></span>
          filter_list
        </a>
      </div>
    </div>
  </header>
  <aside class="drawer <%= data.navigation ? 'drawer--open' : '' %> ">
    <div class="drawer__header">
      <a 
        data-button="header-navigation"
        class="material-icons mdc-icon-button <%= data.navigation ? 'header-navigation--open' : ''  %>" 
        href="?<%= helpers.toggleQueryParameter(data.query, 'main-layout-navigation') %> "
      >
        <span class="mdc-icon-button__ripple"></span>        
        arrow_circle_right
      </a>
    </div>
    <div class="drawer__content">
      <div class="drawer__account-bar">
        <div class="drawer__account-bar__avatar">   
          <i class="material-icons">person_outline</i>       
        </div>
        <div class="drawer__account-bar__actions">   
          <a href="/<%= data.lang %>/sign-in" data-content="sign-in-up"><%= helpers.tr('Sign In/Up') %></a>
        </div>
      </div>
      <div class="drawer__lang-bar">
        <img 
          src="<%= data.languages[data.lang].image %>" 
          class="drawer__lang-bar__flag"
          data-image="lang"
        >
        <label>
          <input type="checkbox">
          <div class="drawer__lang-bar__current">            
            <span data-content="lang">
              <%= data.languages[data.lang].label %>            
            </span> 
            <i class="material-icons">arrow_circle_down</i>
            <div class="mdc-circular-progress mdc-circular-progress--indeterminate" style="width:24px;height:24px;">              
              <div class="mdc-circular-progress__indeterminate-container">
                <div class="mdc-circular-progress__spinner-layer">
                  <div class="mdc-circular-progress__circle-clipper mdc-circular-progress__circle-left">
                    <svg class="mdc-circular-progress__indeterminate-circle-graphic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="12" r="8.75" stroke-dasharray="54.978" stroke-dashoffset="27.489" stroke-width="2.5"/>
                    </svg>
                  </div>
                  <div class="mdc-circular-progress__gap-patch">
                    <svg class="mdc-circular-progress__indeterminate-circle-graphic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="12" r="8.75" stroke-dasharray="54.978" stroke-dashoffset="27.489" stroke-width="2"/>
                    </svg>
                  </div>
                  <div class="mdc-circular-progress__circle-clipper mdc-circular-progress__circle-right">
                    <svg class="mdc-circular-progress__indeterminate-circle-graphic" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="12" r="8.75" stroke-dasharray="54.978" stroke-dashoffset="27.489" stroke-width="2.5"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mdc-list" data-list="lang">
            <a 
              data-list-item="lang-kz"
              class="mdc-list-item <%= data.lang === 'kz' ? 'mdc-list-item--activated' : '' %>" 
              href="/<%= helpers.changeLangPath(data.url, 'kz') %>"
            >
              <span class="mdc-list-item__ripple"></span>
              <img src="/images/flags/kz.svg" class="drawer__lang-bar__flag">
              <span class="mdc-list-item__text"><%= data.languages['kz'].label %></span>
            </a>
            <a 
              data-list-item="lang-ru"
              class="mdc-list-item <%= data.lang === 'ru' ? 'mdc-list-item--activated' : '' %>" 
              href="/<%= helpers.changeLangPath(data.url, 'ru') %>"
            >
              <span class="mdc-list-item__ripple"></span>
              <img src="/images/flags/ru.svg" class="drawer__lang-bar__flag">
              <span class="mdc-list-item__text"><%= data.languages['ru'].label %></span>
            </a>
            <a 
              data-list-item="lang-en"
              class="mdc-list-item <%= data.lang === 'en' ? 'mdc-list-item--activated' : '' %>" 
              href="/<%= helpers.changeLangPath(data.url, 'en') %>"
            >
              <span class="mdc-list-item__ripple"></span>
              <img src="/images/flags/en.svg" class="drawer__lang-bar__flag">
              <span class="mdc-list-item__text"><%= data.languages['en'].label %></span>
            </a>
          </div>
        </label>
      </div>
      <div class="mdc-list" data-list="main">
        <a class="mdc-list-item mdc-list-item--activated" href="#">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons">inbox</i>
          <span class="mdc-list-item__text">Inbox</span>
        </a>
        <a class="mdc-list-item" href="#">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons">send</i>
          <span class="mdc-list-item__text">Outgoing</span>
        </a>
        <a class="mdc-list-item" href="#">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons">drafts</i>
          <span class="mdc-list-item__text">Drafts</span>
        </a>
      </div>
    </div>
  </aside>
  <main class="main-content app-bar--fixed-adjust">
    <% if(data.content) { %>
      <%- 
        partials[data.content]({ 
          data: data.contentData, 
          partials,  
          helpers
        }) 
      %> 
    <% } %>
  </main>
</div>
