<div data-page="signup-page">
  <div class="main-card mdc-card">
    <div class="mdc-card__content">
      <h6 
        data-title="main"
        class="main-card__title main-card--justify mdc-typography--headline6"
      >
        <%= helpers.tr('Sign Up') %> 
      </h6>
      <form method="post">
        <label class="main-card__text-field mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
          <input 
            required 
            placeholder="<%= helpers.tr('Name') %>" 
            type="text" 
            name="name" 
            class="mdc-text-field__input" 
            aria-labelledby="name-label"
            aria-controls="name-helper"
            aria-describedby="name-helper"
          >
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="name-label"><%= helpers.tr('Name') %></span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>          
        </label>
        <div class="mdc-text-field-helper-line main-card--justify">
          <div 
            class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" 
            id="name-helper" 
            aria-hidden="true"
          >
            <%= helpers.tr('Name required') %> 
          </div>
        </div>
        <label class="main-card__text-field mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
          <input 
            required 
            placeholder="Email" 
            type="email" 
            name="email" 
            class="mdc-text-field__input" 
            aria-labelledby="email-label"
            aria-controls="email-helper"
            aria-describedby="email-helper"
          >
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="email-label">Email</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>          
        </label>
        <div class="mdc-text-field-helper-line main-card--justify">
          <div 
            class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" 
            id="email-helper" 
            aria-hidden="true"
          >
            <%= helpers.tr('Email required') %> 
          </div>
        </div>
        <label class="main-card__text-field mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
          <input 
            required 
            placeholder="<%= helpers.tr('Password') %> " 
            type="password" 
            name="password" 
            class="mdc-text-field__input" 
            aria-labelledby="password-label"
            aria-controls="password-helper"
            aria-describedby="password-helper"
          >
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="password-label"><%= helpers.tr('Password') %> </span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>          
        </label>
        <div class="mdc-text-field-helper-line">
          <div 
            class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" 
            id="password-helper" 
            aria-hidden="true"
          >
            <%= helpers.tr('Password required') %> 
          </div>
        </div>
        <div class="main-card--justify" style="text-align: right;">
          <a class="mdc-button" href="<%= data.rootLink %>sign-in" data-button="sign-in">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label"><%= helpers.tr('Sign In') %></span>
          </a>
        </div>
        <div class="main-card--justify" style="text-align: right;">
          <button type="submit" class="approve-button mdc-button mdc-button--raised" data-button="sign-up">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label"><%= helpers.tr('Sign Up') %></span>
          </button>
          <a class="cancel-button mdc-button mdc-button--raised" href="<%= data.rootLink %>" data-button="cancel">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label"><%= helpers.tr('Cancel') %></span>
          </a>
        </div>
      </form>
      <%- 
        partials['auth-service-component']({
          data,
          partials,
          helpers
        }) 
      %> 
    </div>
  </div>
</div>
